body{
    background-color: rgba(19, 19, 19, 0.545);
}
pre{
    /*width: 822px;
    */width: 0px;
    margin: 20px auto;
    color: white;
    font-size: xxx-large;
    overflow: hidden;
    white-space: nowrap;
    animation: ani 4s 2s steps(30) both  infinite alternate ;
    -webkit-animation: ani 4s 3s steps(30) both  infinite alternate ;
}
@keyframes ani {
    0%{
        width: 0px;
        border-right: white solid 4px;
    }
    10%{
        border-right: rgb(223, 101, 101) solid 4px;
    }
    20%{
        border-right: rgba(212, 63, 63, 0.23) solid 4px;
    }
    30%{
        border-right: rgba(196, 34, 34, 0.506) solid 4px;
    }
    40%{
        border-right: rgba(225, 18, 18, 0.653) solid 4px;
    }
    100%{
        border-right: #253698 solid 4px;
        width: 822px
    }
}
